@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link-highlight {
        @apply
            underline
            decoration-fawn-light
            decoration-2
            decoration-wavy
            underline-offset-[10px]
            hover:decoration-fawn-lighter;
    }

    .section-arrow-down {
        @apply
            relative
            after:content-['']
            after:absolute after:bottom-[-50px]
            after:left-[50%]
            after:translate-x-[-50%]
            after:mt-[25px]
            after:border-[25px]
            after:border-transparent
            after:z-10;
    }

    .bg-squares {
        @apply
            absolute
            inset
            overflow-hidden
            -z-10;
    }

    .bg-squares li {
        @apply
            bg-thunder-light
            block
            absolute
            w-[20px]
            h-[20px]
            -bottom-[150px];
    }

    .bg-squares li:nth-child(1) {
        @apply
            left-[25%]
            w-[80px]
            h-[80px]
            animate-nogravity;

        animation-delay: 3s;
        animation-duration: 15s;
    }

    .bg-squares li:nth-child(2) {
        @apply
            left-[10%]
            animate-nogravity;

        animation-delay: 2s;
        animation-duration: 12s;
    }

    .bg-squares li:nth-child(3) {
        @apply
            left-[50%]
            w-[40px]
            h-[40px]
            animate-nogravitynegative;

        animation-delay: 4s;
        animation-duration: 13s;
    }

    .bg-squares li:nth-child(4) {
        @apply
            left-[55%]
            w-[80px]
            h-[80px]
            animate-nogravitynegative;

        animation-delay: 6s;
        animation-duration: 15s;
    }
}

@layer utilities {
    .sharp-corners {
        @apply
            relative
            before:content-['']
            before:-ml-[20px]
            tablet:before:ml-[0]
            before:border-[20px]
            tablet:before:border-[28px]
            before:border-solid
            before:border-transparent
            before:border-t-thunder-darkest
            before:border-r-thunder-darkest
            before:z-10
            after:content-['']
            after:-mr-[20px]
            tablet:mr-[0]
            after:border-[20px]
            tablet:after:border-[28px]
            after:border-solid
            after:border-transparent
            after:border-t-thunder-darkest
            after:border-l-thunder-darkest
            after:z-10;
    }

    .active {
        @apply
            text-brass;
    }
}
