<div class="container">
    <!-- Contacts -->
    {%if not page.exclude_contact_footer%}
        <div class="py-2xl">
            <p class="text-4xl mb-3xs">Se hai bisogno</p>
            <p class="text-4xl my-3xs">di ulteriori informazioni</p>
            <p class="text-4xl mt-3xs">
                <a href="/contacts.html" class="link-highlight">contattami</a>
            </p>
        </div>
    {%endif%}
    <!-- Copyright and Social -->
    <div class="flex flex-col items-center gap-2xs py-xs border-t-2 border-t-thunder tablet:flex-row desktop:py-sm">
        <div class="text-center tablet:justify-self-start">
            {{copyright|raw}}
        </div>
        <div class="hidden tablet:block tablet:flex-1"></div>
        <div class="tablet:justify-self-end">
            <ul class="flex gap-xs justify-center items-center">
                {%for item in layout.socials%}
                    <li>
                        <a href="{{item.link}}" class="text-xl" target="_blank">
                            <i class="{{item.icon}}"></i>
                        </a>
                    </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
