<div class="bg-stone-800">
    <div class="w-2/3 mx-auto flex items-center py-8">
        <div class="basis-1/2">
            <div class="w-fit">
                <a href="./index.html">
                    <span class="text-3xl uppercase">Giuseppe <b class="font-semibold">Spataro</b></span>
                    <div class="text-lg text-center text-white/70">Sviluppatore Web &bullet; Pianista</div>
                </a>
            </div>
        </div>
        <div class="basis-1/2 text-xl text-right">
            <div class="max-w-fit ml-auto">
                {{include("./components/navbar.html")}}
            </div>
        </div>
    </div>
</div>
