<ul class="flex items-center px-10 whitespace-nowrap">
    {%for item in layout.navbar%}
        <li class="mr-3 last-of-type:mr-0">
            <a href="{{item.link}}" class="
                py-3 px-4 inline-block
                font-semibold
                {%if item.target == page.label%}
                    text-violet-300
                {%else%}
                    hover:text-white/70
                    text-white
                {%endif%}
            ">{{item.label}}</a>
        </li>
    {%endfor%}
</ul>
