{%set item = portfolio.projects[item_key]%}
<div class="flex flex-col gap-xs bg-thunder-light p-sm rounded-2xl" data-category="{{item.category}}">
    <div class="flex gap-3xs items-center">
        <h2 class="flex-1">{{('portfolio.projects.' ~ item_key ~ '.name')|localize}}</h2>
        {%if item.links%}
            <ul class="flex gap-xs text-2xl">
                {%if item.links.github%}
                    <li>
                        <a href="{{item.links.github}}" target="_blank" class="hover:text-white/60">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                {%endif%}
                {%if item.links.website%}
                    <li>
                        <a href="{{item.links.website}}" class="ml-2 hover:text-white/60" target="_blank">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </li>
                {%endif%}
            </ul>
        {%endif%}
    </div>
    <p class="flex-1">{{('portfolio.projects.'~item_key~'.description')|localize}}</p>
    <ul class="flex flex-wrap gap-3xs">
        {%for tool in item.tools%}
            <li class="bg-thunder-darker py-3xs px-2xs rounded-xl">{{tool}}</li>
        {%endfor%}
    </ul>
</div>
