<!DOCTYPE html>
<html lang="it">
    <head>
        {%include './components/head.html'%}
    </head>

    <body class="tablet-h:!overflow-y-auto">
        <div class="flex flex-col tablet-v:flex-row">
            {%include './components/header.html'%}
            <div class="flex flex-col tablet-v:w-[calc(100%-var(--header-height))]">
                <main>
                    <div class="container my-lg">
                        {%if page.layout.breadcrumb%}
                            {%include './components/breadcrumb.html' with {'breadcrumb': page.layout.breadcrumb} only%}
                        {%endif%}
                        {%block main%}
                        {%endblock%}
                        {%if page.layout.breadcrumb%}
                            {%include './components/breadcrumb.html' with {'breadcrumb': page.layout.breadcrumb} only%}
                        {%endif%}
                    </div>
                </main>
            </div>
        </div>
        {%include './components/footer.html'%}
    </body>
</html>
