<!DOCTYPE html>
<html lang="it">
    <head>
        {%include './components/head.html'%}
        <script src="{{website.url}}/assets/js/homepage.js"></script>
    </head>

    <body class="homepage !overflow-y-auto">
        {%include './components/header.html' with {
            'transparent': true,
            'style': 'pianoforte',
            'large_container': true,
            'class': 'absolute top left right z-10'
        }%}
        <main class="grid grid-cols-[repeat(3,100vw)] items-start overflow-hidden">
            {%block main%}
            {%endblock%}
        </main>
        {%include './components/footer.html'%}
    </body>
</html>
