<!DOCTYPE html>
<html lang="it">
    <head>
        {%include './components/head.html'%}
        <script src="{{website.url}}/assets/js/homepage.js"></script>
        <script src="{{website.url}}/assets/js/synth.js"></script>
    </head>

    <body class="homepage overflow-y-auto">
        <div class="grid grid-cols-1 tablet-v:grid-cols-[auto_1fr]">
            {%include './components/header.html' with {'class': 'tablet-v:col-start-1 tablet-v:row-span-2'}%}
            <div id="main-wrapper" class="flex flex-col overflow-y-hidden tablet-v:col-start-2">
                <main id="main" class="items-start grid grid-cols-[repeat(3,100%)] snap-mandatory snap-x overflow-x-scroll overflow-y-hidden scrollbar-hide">
                    {%block main%}
                    {%endblock%}
                </main>
            </div>
            {%include './components/footer.html' with {'class': 'col-start-2'}%}
        </div>
    </body>
</html>
