<!DOCTYPE html>
<html lang="it">
    <head>
        {%include './components/head.html'%}
        <script src="{{website.url}}/assets/js/homepage.js"></script>
    </head>

    <body class="homepage overflow-y-auto">
        {%include './components/header.html'%}
        <div class="pl-[--header-height]">
            <main class="items-start grid grid-cols-[repeat(3,100%)] snap-mandatory snap-x overflow-y-hidden overflow-x-scroll scrollbar-hide">
                {%block main%}
                {%endblock%}
            </main>
        </div>
    </body>
</html>
