<article class="
    bg-ivory-lighter
    shadow-ivory-dark
    shadow-lg
    rounded-lg
    grid
    grid-rows-[auto_1fr]
    tablet-v:data-[layout=horizontal]:grid-cols-2
    tablet-v:data-[layout=horizontal]:gap-sm
    group/article
    {{class}}" data-layout="{{layout ?? 'vertical'}}">
    <figure class="tablet-v:group-data-[layout=horizontal]/article:col-start-1">
        <a href="{{url('article.' ~ id)}}">
            <img src="{{media(article.frontmatter.thumbnail, 'thumbnail')}}" alt="{{article.frontmatter.title}}" class="rounded-lg">
        </a>
    </figure>
    <div class="flex flex-col p-xs tablet-v:group-data-[layout=horizontal]/article:col-start-2">
        <header class="mb-xs">
            <h3>
                <a href="{{url('article.' ~ id)}}" class="text-thunder-darkest no-underline">
                    {{article.frontmatter.title}}
                </a>
            </h3>
        </header>
        {%if excerpt%}
            <p class="mb-xs">
                {{(article.frontmatter.excerpt ?? article.content)|striptags|u.truncate(100, '...', false)}}
            </p>
        {%endif%}
        <div class="flex-1"></div>
        <div class="flex gap-3xs items-center">
            {%if article.frontmatter.categories%}
                <ul class="flex">
                    {%for category in article.frontmatter.categories%}
                        <li class="py-3xs px-xs border-thunder-darkest border rounded-lg text-xs lowercase">
                            {{articles_cats[category].label ?? category}}
                        </li>
                    {%endfor%}
                </ul>
            {%endif%}
            <div class="flex-1"></div>
            <a href="{{url('article.' ~ id)}}" class="font-normal no-underline">
                leggi articolo &gt;
            </a>
        </div>
    </div>
</article>
