<article class="
    flex
    flex-col
    border-thunder-darkest
    rounded-3xl
    border-2
    p-sm
    group
    {{class}}">
    <header class="mb-3xs">
        <{{heading_type ?? 'h5'}}>
            <a href="{{url('article.' ~ id)}}" class="text-thunder-darkest no-underline">
                {{article.frontmatter.title}}
            </a>
        </{{heading_type ?? 'h5'}}>
    </header>
    <time datetime="{{article.frontmatter.published|date('Y-m-d')}}" class="mb-xs">
        {{article.frontmatter.published|format_date('long', locale: 'it')}}
    </time>
    <div class="flex-1"></div>
    <div class="flex items-center gap-3xs">
        {%include './components/article/categories.html' with {
            'categories': article.frontmatter.categories
        }%}
        <div class="flex-1"></div>
        <a href="{{url('article.' ~ id)}}" class="cta">
            Leggi
        </a>
    </div>
</article>
