<article class="border-thunder-darkest border-2 p-md dark:border-thunder {{class}}">
    <header class="mb-2xs">
        <h3>
            <a href="{{url('article.' ~ id)}}" class="text-thunder-darkest no-underline dark:text-ablescent-lightest">
                {{article.frontmatter.title}}
            </a>
        </h3>
    </header>
    <p>
        {%set excerpt = article.frontmatter.excerpt ?? article.content%}
        {{excerpt|striptags|u.truncate(250, '...', false)}}
    </p>
    <div class="flex gap-3xs items-center">
        {%include './components/project/links.html'%}
        <div class="flex-1"></div>
        <a href="{{url('article.' ~ id)}}" class="font-normal no-underline">
            leggi articolo &rarr;
        </a>
    </div>
</article>
