{%embed './components/home/section.html' with {
    'label': 'Cosa faccio',
    'prev_text': 'Benvenuto',
    'next_text': 'Blog',
    'style': 'fortepiano',
    'id': 'cosa-faccio'
}%}
    {%block content%}
        <div class="mb-md tablet-v:w-2/3 tablet-h:w-1/2">
            <h3 class="mb-3xs">
                DI COSA MI OCCUPO
            </h3>
            <p class="text-sm mb-xs">
                Sono un pianista, compositore e insegnante con anni di esperienza maturati sul campo.
            </p>
            <a href="mailto:{{website.email}}" class="cta text-current">
                RICHIEDI INFORMAZIONI
            </a>
        </div>
        {%include './components/cards.html' with {
            'items': [
                {
                    'title': 'Performances & Registrazioni',
                    'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec lacus blandit lorem egestas porttitor nec quis est. Etiam a ultrices metus. Cras bibendum placerat ultrices. Sed posuere laoreet elit, sit amet eleifend justo mattis eu.'
                },
                {
                    'title': 'Composizione',
                    'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec lacus blandit lorem egestas porttitor nec quis est. Etiam a ultrices metus. Cras bibendum placerat ultrices. Sed posuere laoreet elit, sit amet eleifend justo mattis eu.'
                },
                {
                    'title': 'Didattica',
                    'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec lacus blandit lorem egestas porttitor nec quis est. Etiam a ultrices metus. Cras bibendum placerat ultrices. Sed posuere laoreet elit, sit amet eleifend justo mattis eu.'
                }
            ]
        }%}
    {%endblock%}
{%endembed%}
