{%embed './components/home/section.html' with {
    'label': 'Chi sono',
    'prev_text': 'Benvenuto',
    'next_text': 'Blog',
    'style': 'fortepiano'
}%}
    {%block content%}
        <div class="flex justify-between mb-2xl">
            <div class="tablet-v:w-2/3 tablet-h:w-1/2">
                <h3 class="mb-3xs hidden tablet-h:block">
                    MI PRESENTO
                </h3>
                <p class="text-sm mb-xs">
                    Mi chiamo Giuseppe Spataro, sono un pianista e sviluppatore web. È vero, mi occupo di due attività che all'apparenza possono sembrare molto
                    differenti tra loro. In realtà ritengo che il mondo della musica e il mondo della programmazione abbiano molto in comune, entrambe sono forme
                    d'arte. Gli strumenti musicali e la programmazione sono mezzi attraverso i quali esprimere qualcosa.
                </p>
            </div>
            <div class="w-[400px] h-[400px] rounded-full overflow-hidden border-thunder-lighter border-4">
                <img src="{{media('about-photo.jpg', 'thumbnail')}}" alt="" width="400" height="420">
            </div>
        </div>
        <div class="font-oswald text-md text-center mb-lg">
            VUOI SAPERNE DI PIÙ?
        </div>
        <div class="flex justify-between">
            <a href="{{url('webdev')}}" class="flex-1 flex gap-sm text-ivory-lightest no-underline group/card">
                <h3 class="font-oswald text-md writing-v-lr rotate-180 group-hover/card:text-brass">
                    WEB//DEV
                </h3>
                <div class="w-2/3">
                    Mi occupo dello sviluppo di siti web e della loro ottimizzazione per i motori di ricerca.
                    <div class="mt-xs">
                        <div class="cta text-[inherit]">
                            Scopri di più
                        </div>
                    </div>
                </div>
            </a>
            <div class="w-[3px] bg-thunder-dark"></div>
            <a href="{{url('pianist')}}" class="flex-1 flex gap-sm justify-end text-ivory-lightest no-underline group/card">
                <div class="w-2/3">
                    Sono un pianista solista, accompagnatore e insegnante di pianoforte.
                    <div class="mt-xs">
                        <div class="cta text-[inherit]">
                            Scopri di più
                        </div>
                    </div>
                </div>
                <h3 class="font-oswald text-md writing-v-lr group-hover/card:text-brass">
                    PIANISTA
                </h3>
            </a>
        </div>
    {%endblock%}
{%endembed%}
