{%embed './components/home/section.html' with {
    'label': 'Chi sono',
    'prev_text': 'Benvenuto',
    'next_text': 'Blog',
    'style': 'fortepiano'
}%}
    {%block content%}
        <div class="mb-xl tablet-v:w-2/3 tablet-h:w-1/2">
            <h3 class="mb-3xs hidden tablet-h:block">
                MI PRESENTO
            </h3>
            <p class="text-sm mb-xs">
                Mi chiamo Giuseppe Spataro, sono un pianista e sviluppatore web. È vero, mi occupo di due attività che all'apparenza possono sembrare molto
                differenti tra loro. In realtà ritengo che il mondo della musica e il mondo della programmazione abbiano molto in comune, entrambe sono forme
                d'arte. Gli strumenti musicali e la programmazione sono mezzi attraverso i quali esprimere qualcosa.
            </p>
        </div>
    {%endblock%}
{%endembed%}
