{%embed './components/home/section.html' with {
    'label': 'Blog',
    'style': 'pianoforte'
}%}
    {%block content%}
        <div class="mb-lg ml-auto laptop-lg:mb-3xl laptop-lg:w-1/2">
            <h2 class="mb-4xs">COGITO ERGO SUM</h2>
            <p class="mb-2xs">
                Il mio blog è la sezione dove voglio dar sfogo ai miei pensieri e alla mia creatività. Voglio raccogliere le mie idee riguardo programmazione e musica, senza tralasciare qualche off topic di tanto in tanto.
            </p>
            <a href="#" class="text-sm font-normal uppercase no-underline">
                Tutti gli Articoli &rarr;
            </a>
        </div>
        <div class="grid gap-sm tablet-v:grid-cols-3">
            {%for id, article in articles%}
                {%include './components/article/card.html' with {'id': id, 'article': article}%}
            {%endfor%}
        </div>
    {%endblock%}
{%endembed%}
