{%embed './components/home/section.html' with {
    'label': '',
    'next_text': 'Chi sono',
    'id': 'benvenuto',
    'fullscreen': true
}%}
    {%from './components/icon.html' import icon%}
    {%block content%}
        <div id="hero-welcome" class="flex-1 flex items-center justify-center">
            <div class="relative text-center">
                <div class="
                    block
                    w-3/4
                    aspect-square
                    bg-white
                    mix-blend-difference
                    absolute
                    z-10
                    top-1/2
                    -translate-y-1/2
                    left-1/2
                    -translate-x-1/2
                    animate-blob-morph">
                </div>
                <h2 class="uppercase text-lg font-normal font-oswald tablet-v:text-2xl">
                    Giuseppe Spataro
                </h2>
                <p class="text-sm uppercase" role="doc-subtitle">
                    Pianista &bullet; Compositore &bullet; Insegnante
                </p>
                <div class="mt-xl relative z-20">
                    <a href="#" id="hero-welcome-play" class="
                        relative
                        inline-flex
                        w-lg
                        h-lg
                        items-center
                        justify-center
                        border-2
                        border-ivory-lightest
                        rounded-full
                        no-underline
                        text-ivory-lightest
                        text-md">
                        {{icon('play', '32')}}
                    </a>
                </div>
            </div>
        </div>
        <div id="hero-keyboard" class="flex-1 flex flex-col justify-center data-[hidden=true]:hidden" data-hidden="true">
            {%set keys = [
                {
                    'name': 'C4',
                    'frequency': '261.63',
                    'shortcut': 'a',
                    'sharp': {
                        'name': 'C#4',
                        'frequency': '277.18',
                        'shortcut': 'w'
                    }
                },
                {
                    'name': 'D4',
                    'frequency': '293.66',
                    'shortcut': 's',
                    'sharp': {
                        'name': 'D#4',
                        'frequency': '311.13',
                        'shortcut': 'e'
                    }
                },
                {
                    'name': 'E4',
                    'frequency': '329.63',
                    'shortcut': 'd'
                },
                {
                    'name': 'F4',
                    'frequency': '349.23',
                    'shortcut': 'f',
                    'sharp': {
                        'name': 'F#4',
                        'frequency': '369.99',
                        'shortcut': 't'
                    }
                },
                {
                    'name': 'G4',
                    'frequency': '392.00',
                    'shortcut': 'g',
                    'sharp': {
                        'name': 'G#4',
                        'frequency': '415.30',
                        'shortcut': 'y'
                    }
                },
                {
                    'name': 'A4',
                    'frequency': '440.00',
                    'shortcut': 'h',
                    'sharp': {
                        'name': 'A#4',
                        'frequency': '466.16',
                        'shortcut': 'u'
                    }
                },
                {
                    'name': 'B4',
                    'frequency': '493.88',
                    'shortcut': 'j'
                },
                {
                    'name': 'C5',
                    'frequency': '523.26',
                    'shortcut': 'k'
                }
            ]%}
            <!-- PIANO -->
            <div class="flex flex-1 tablet-h:flex-col tablet-h:grow-0">
                <!-- CONTROLS -->
                <div class="flex z-10 flex-col items-center rounded-l-xl px-2xs py-sm bg-thunder-darkest tablet-h:px-sm tablet-h:py-2xs tablet-h:rounded-bl-none tablet-h:rounded-t-xl tablet-h:flex-row">
                    <div>
                        <a href="#" id="keyboard-mute" class="group text-ivory-lightest" data-muted="true">
                            {{icon('volume', '26', label: 'Attiva audio pianoforte', attributes: {
                                'class': 'group-data-[muted=true]:hidden'
                            })}}
                            {{icon('mute', '26', label: 'Disattiva audio pianoforte', attributes: {
                                'class': 'group-data-[muted=false]:hidden'
                            })}}
                        </a>
                    </div>
                    <div class="flex-1"></div>
                    <a href="#" id="hero-keyboard-close" class="text-ivory-lightest">
                        {{icon('close', '26', label: 'Chiudi pianoforte')}}
                    </a>
                </div>
                <!-- END CONTROLS -->
                <div id="keyboard" class="flex flex-1 select-none rounded-l-3xl border-l shadow-xl -rotate-180 gap-px border-ivory-dark writing-v-lr shadow-brass-lightest/40 tablet-h:w-full tablet-h:min-h-[450px] tablet-h:writing-h-tb tablet-h:rotate-0 tablet-h:rounded-b-3xl tablet-h:rounded-tl-none tablet-h:border-r laptop-sm:min-h-[550px]">
                    <!-- KEYS -->
                    {%for key in keys%}
                    <!-- WHITE KEY {{key.name}} -->
                    <div class="
                        flex-1
                        bg-ivory-lightest
                        border-b
                        border-ivory-dark
                        relative
                        first:rounded-tl-3xl
                        last:rounded-bl-3xl
                        last:rounded-tl-3xl
                        first:border-t
                        tablet-h:first:rounded-l-3xl
                        tablet-h:last:rounded-r-3xl
                        tablet-h:border-b-0
                        tablet-h:border-r
                        tablet-h:first:rounded-tl-none
                        tablet-h:rounded-bl-none
                        tablet-h:last:rounded-tr-none
                        tablet-h:last:border-r-0
                        tablet-h:first:border-t-0
                        data-[pressed=true]:bg-ivory
                        key" data-name="{{key.name}}" data-frequency="{{key.frequency}}" data-shortcut="{{key.shortcut}}">
                        {%if key.sharp%}
                            <!-- BLACK KEY {{key.sharp.name}} -->
                            <div class="
                                bg-thunder-dark
                                rounded-l-lg
                                w-2/3
                                h-1/2
                                absolute
                                right-0
                                -bottom-1/4
                                z-10
                                tablet-h:rounded-tl-none
                                tablet-h:rounded-b-lg
                                tablet-h:w-1/2
                                tablet-h:h-2/3
                                tablet-h:top-0
                                tablet-h:-right-1/4
                                tablet-h:bottom-auto
                                data-[pressed=true]:bg-thunder
                                key" data-name="{{key.sharp.name}}" data-frequency="{{key.sharp.frequency}}" data-shortcut="{{key.sharp.shortcut}}"></div>
                            <!-- END BLACK KEY {{key.sharp.name}} -->
                        {%endif%}
                    </div>
                    <!-- END WHITE KEY {{key.name}} -->
                    {%endfor%}
                    <!-- END KEYS-->
                </div>
            </div>
            <!-- END PIANO -->
        </div>
    {%endblock%}
{%endembed%}
