{%embed './components/home/section.html' with {
    'label': '',
    'next_text': 'Chi sono',
    'id': 'benvenuto'
}%}
    {%block content%}
        <div class="h-full flex items-center justify-center">
            <div class="text-center">
                <h2 class="uppercase text-lg font-normal font-oswald tablet-v:text-2xl">
                    Giuseppe Spataro
                </h2>
                <p class="text-sm uppercase" role="doc-subtitle">
                    Pianista &bullet; Compositore &bullet; Insegnante
                </p>
                <a href="#" class="inline-flex w-md h-md items-center justify-center border border-thunder-darkest rounded-full">
                    <div class="play-icon"></div>
                </a>
            </div>
        </div>
    {%endblock%}
{%endembed%}
