{%embed './components/home/section.html' with {
    'label': 'Progetti',
    'style': 'fortepiano'
}%}
    {%block content%}
        <div class="mb-lg laptop-lg:w-1/2 laptop-lg:mb-3xl">
            <h2 class="mb-4xs">LOREM IPSUM, DOLOR</h2>
            <p class="mb-2xs">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis ultricies nunc, eget viverra purus blandit at. Vivamus condimentum interdum euismod. Morbi porttitor laoreet leo, sed rutrum orci faucibus vel. Nulla aliquam erat ac metus vulputate sagittis. Vestibulum convallis fermentum imperdiet.
            </p>
            <a href="#" class="text-sm font-normal uppercase no-underline text-brass">
                Scopri tutti i progetti &rarr;
            </a>
        </div>
        <div class="grid gap-sm tablet-v:grid-cols-2 laptop-lg:w-4/5">
            {%for id, project in projects%}
                {%include './components/project/card.html' with {'id': id, 'project': project, 'style': 'dark'}%}
            {%endfor%}
        </div>
    {%endblock%}
{%endembed%}
