{%embed './components/home/section.html' with {
    'label': 'Progetti',
    'style': 'fortepiano'
}%}
    {%block content%}
        <div class="mb-md tablet-v:w-2/3 tablet-h:w-1/2">
            <h3 class="mb-3xs hidden tablet-h:block">
                COSA FACCIO
            </h3>
            <p class="text-sm mb-xs">
                Lavoro come sviluppatore web. Nel tempo libero mi piace dedicarmi a progetti open source che sfrutto per apprendere nuovi concetti e nuove tecnologie.
            </p>
            <a href="{{url('projects.page-1')}}" class="cta text-ivory-lightest">
                TUTTI I PROGETTI
            </a>
        </div>
        <div class="grid tablet-v:grid-cols-2 laptop-lg:grid-cols-3 gap-md">
            {%for id, project in projects%}
            {%include('./components/project/card.html') with {
                project: project
            }%}
        {%endfor%}
        </div>
    {%endblock%}
{%endembed%}
