<article class="flex flex-col border-thunder-darkest border-2 p-md {{class}}">
    <header class="mb-2xs">
        <h3>
            <a href="{{url('project.' ~ id)}}" class="text-thunder-darkest no-underline">
                {{project.frontmatter.name}}
            </a>
        </h3>
    </header>
    <p class="mb-sm">
        {{project.frontmatter.description}}
    </p>
    <div class="flex-1"></div>
    <div class="flex gap-3xs items-center">
        {%include './components/project/links.html'%}
        <div class="flex-1"></div>
        <a href="{{url('project.' ~ id)}}" class="font-normal no-underline">
            &lt;apri progetto /&gt;
        </a>
    </div>
</article>
