{%extends "./layout/default.html"%}
{%block main%}
        <div class="flex flex-col-reverse gap-sm justify-between mb-2xl tablet-v:flex-row tablet-v:gap-xs">
            <div class="tablet-v:w-2/3 laptop-sm:w-1/2">
                <h3 class="mb-3xs hidden tablet-h:block">
                    MI PRESENTO
                </h3>
                <p class="text-sm">
                    Mi chiamo Giuseppe Spataro, sono un pianista, compositore e insegnante di pianoforte.<br>Mi occupo di due attività che all'apparenza possono sembrare molto
                    differenti tra loro. In realtà, ritengo che il mondo della musica e il mondo della programmazione abbiano molto in comune, entrambe sono forme
                    d'arte. Gli strumenti musicali e la programmazione sono mezzi attraverso i quali esprimere qualcosa.
                </p>
            </div>
            <figure class="max-w-[200px] mx-auto tablet-v:max-w-[300px] tablet-v:w-1/3 tablet-v:mx-[unset]">
                <img src="{{media('about-photo.jpg', 'thumbnail')}}" class="aspect-square object-top object-cover rounded-full border-thunder-darkest border-4" alt="" width="400" height="420">
            </figure>
        </div>
{%endblock%}
