{%set page = {
    'title': 'Chi sono',
    'layout': {
        'fluid': true
    }
}%}
{%extends "./layout/default.html"%}
{%block main%}
    <div class="grid min-h-[100vh] grid-rows-[300px_1fr] tablet-v:grid-rows-[400px_1fr] tablet-h:grid-rows-1 tablet-h:grid-cols-[300px_1fr] laptop-sm:grid-cols-[500px_1fr]">
        <div class="bg-thunder-dark">
            <img src="{{website.url}}/assets/images/drama.jpg" alt="" width="500px" height="auto" class="object-cover object-center w-full h-[300px] tablet-v:h-[400px] tablet-h:h-full">
        </div>
        <div class="container max-w-[1000px] py-lg tablet-h:p-lg">
            <h2 class="mb-sm">Sono un pianista e sviluppatore web maniaco dell'ordine e con una forte dipendenza da musica.</h2>
            <div class="prose mb-sm">
                <p>
                    Spesso da piccoli coltiviamo più passioni e ci viene chiesto cosa vorremmo fare da grandi, io semplicemente non sono mai riuscito a scegliere e possibilmente non mi porrò mai il problema di farlo.
                    Certo, questo nella vita ha richiesto e richiede parecchi sforzi, ma scontentare una parte di se stessi sarebbe più tragico di fare qualche ora extra.
                </p>
                <p>
                    Mi chiamo Giuseppe Spataro, sono un ragazzo siciliano e amo tutto ciò che richiede il mettere insieme i pezzi di un puzzle, sia che si tratti di un "puzzle" musicale che di uno informatico.
                    Ammetto che non mi dispiacciono neanche quelli veri di puzzle, e possibilmente ciò fa di me un maniaco dell'ordine.
                </p>
                <p>
                    Ho iniziato a studiare <b>pianoforte</b> all'età di <b>5 anni</b> e ho conseguito la <b>laurea magistrale</b> con 110/110 e lode presso l'<b>ISSM Vincenzo Bellini</b> di <b>Catania</b>.
                    Contemporaneamente ho iniziato il mio percorso con lo <b>sviluppo web</b> all'età di <b>11 anni</b> da autodidatta.
                    Attualmente lavoro come sviluppatore web presso una <b>digital agency</b> e lavoro a progetti in vari ambiti.
                </p>
            </div>
            <h2 class="mb-xs">Studi</h2>
            <div class="mb-2xs">
                <h4 class="mb-4xs">Laurea Magistrale</h4>
                <p>Pianoforte presso ISSM V. Bellini di Catania</p>
                <p>Conseguita il 05/04/2021 con 110/110 e lode</p>
            </div>
            <div class="mb-2xs">
                <h4 class="mb-4xs">Laurea Triennale</h4>
                <p>Pianoforte presso ISSM V. Bellini di Catania</p>
                <p>Conseguita il 23/10/2019 con 110/110 e lode</p>
            </div>
            <div class="mb-sm">
                <h4 class="mb-2xs">Diploma di Liceo Classico</h4>
                <p>Giusto per aggiungere qualcosa al mio minestrone, non ho studiato "né allo scientifico né al musicale"</p>
                <p>Conseguito nel 2016</p>
            </div>
            <h2 class="mb-xs">Contattami</h2>
            <p>
                Sentiti libero di contattarmi per pormi qualsiasi domanda o anche solo per restare in contatto.
            </p>
            <p>
                <a href="mailto:gspatarodev@gmail.com">gspatarodev@gmail.com</a>
            </p>
        </div>
    </div>
{%endblock%}
