{%set page = {
    'title': 'Blog',
    'id': 'blog',
    'layout': {
        'contain': true,
        'breadcrumb': {
            'index': 'Home',
            '': 'Blog'
        }
    }
}%}
{%extends "./layout/default.html"%}
{%block main%}
    <h1 class="mb-md">Blog</h1>
    <div class="grid grid-cols-1 tablet-v:grid-cols-2 tablet-h:grid-cols-3 gap-lg">
        {%for id, article in blog%}
            {%include './components/article/card.html' with {
                'id': id,
                'article': article,
                'articles_cats': articles_cats,
                'class': ''
            } only%}
        {%endfor%}
    </div>
    <div>
        {%if pagination.prev%}
            <a href="{{url('projects.page-' ~ pagination.prev)}}">Precedente</a>
        {%endif%}
        {%if pagination.next%}
            <a href="{{url('projects.page-' ~ pagination.next)}}">Successivo</a>
        {%endif%}
    </div>
{%endblock%}
