<!DOCTYPE html>
<html>
    <head>
        <title>Colors</title>
        <link href="./assets/css/ui.css" rel="stylesheet" />
    </head>

    <body>
        <div class="w-full grid grid-cols-7 auto-rows-min">
            <!-- THUNDER -->
            <div class="h-[20vh] bg-thunder-darkest flex items-end p-xs text-white">
                thunder-darkest
            </div>
            <div class="h-[20vh] bg-thunder-darker flex items-end p-xs text-white">
                thunder-darker
            </div>
            <div class="h-[20vh] bg-thunder-dark flex items-end p-xs text-white">
                thunder-dark
            </div>
            <div class="h-[20vh] bg-thunder flex items-end p-xs text-white">
                thunder
            </div>
            <div class="h-[20vh] bg-thunder-light flex items-end p-xs text-white">
                thunder-light
            </div>
            <div class="h-[20vh] bg-thunder-lighter flex items-end p-xs text-white">
                thunder-lighter
            </div>
            <div class="h-[20vh] bg-thunder-lightest flex items-end p-xs text-white">
                thunder-lightest
            </div>
            <!-- STILETTO -->
            <div class="h-[20vh] bg-stiletto-darkest flex items-end p-xs text-white">
                stiletto-darkest
            </div>
            <div class="h-[20vh] bg-stiletto-darker flex items-end p-xs text-white">
                stiletto-darker
            </div>
            <div class="h-[20vh] bg-stiletto-dark flex items-end p-xs text-white">
                stiletto-dark
            </div>
            <div class="h-[20vh] bg-stiletto flex items-end p-xs text-white">
                stiletto
            </div>
            <div class="h-[20vh] bg-stiletto-light flex items-end p-xs text-white">
                stiletto-light
            </div>
            <div class="h-[20vh] bg-stiletto-lighter flex items-end p-xs text-white">
                stiletto-lighter
            </div>
            <div class="h-[20vh] bg-stiletto-lightest flex items-end p-xs text-white">
                stiletto-lightest
            </div>
            <!-- FAWN -->
            <div class="h-[20vh] bg-fawn-darkest flex items-end p-xs">
                fawn-darkest
            </div>
            <div class="h-[20vh] bg-fawn-darker flex items-end p-xs">
                fawn-darker
            </div>
            <div class="h-[20vh] bg-fawn-dark flex items-end p-xs">
                fawn-dark
            </div>
            <div class="h-[20vh] bg-fawn flex items-end p-xs">
                fawn
            </div>
            <div class="h-[20vh] bg-fawn-light flex items-end p-xs">
                fawn-light
            </div>
            <div class="h-[20vh] bg-fawn-lighter flex items-end p-xs">
                fawn-lighter
            </div>
            <div class="h-[20vh] bg-fawn-lightest flex items-end p-xs">
                fawn-lightest
            </div>
            <!-- BRASS -->
            <div class="h-[20vh] bg-brass-darkest flex items-end p-xs">
                brass-darkest
            </div>
            <div class="h-[20vh] bg-brass-darker flex items-end p-xs">
                brass-darker
            </div>
            <div class="h-[20vh] bg-brass-dark flex items-end p-xs">
                brass-dark
            </div>
            <div class="h-[20vh] bg-brass flex items-end p-xs">
                brass
            </div>
            <div class="h-[20vh] bg-brass-light flex items-end p-xs">
                brass-light
            </div>
            <div class="h-[20vh] bg-brass-lighter flex items-end p-xs">
                brass-lighter
            </div>
            <div class="h-[20vh] bg-brass-lightest flex items-end p-xs">
                brass-lightest
            </div>
            <!-- ABLESCENT -->
            <div class="h-[20vh] bg-ablescent-darkest flex items-end p-xs">
                ablescent-darkest
            </div>
            <div class="h-[20vh] bg-ablescent-darker flex items-end p-xs">
                ablescent-darker
            </div>
            <div class="h-[20vh] bg-ablescent-dark flex items-end p-xs">
                ablescent-dark
            </div>
            <div class="h-[20vh] bg-ablescent flex items-end p-xs">
                ablescent
            </div>
            <div class="h-[20vh] bg-ablescent-light flex items-end p-xs">
                ablescent-light
            </div>
            <div class="h-[20vh] bg-ablescent-lighter flex items-end p-xs">
                ablescent-lighter
            </div>
            <div class="h-[20vh] bg-ablescent-lightest flex items-end p-xs">
                ablescent-lightest
            </div>
        </div>
    </body>
</html>
