{%set page = {
    "label": "contacts",
    "title": lang('title', 'contacts'),
    "path": "contacts.html",
    "exclude_contact_footer": true,
    "meta": {
        "description": lang('meta.description', 'contacts')
    }
}%}
{%extends "./layout.html"%}
{%block content%}
    <div class="py-2xl bg-fawn section-arrow-down after:border-t-fawn">
        <div class="container">
            <div class="flex flex-col gap-xs tablet:items-center tablet:flex-row desktop:w-3/4 desktop:mx-auto">
                <div class="flex-1">
                    <h1>{{lang('title', 'contacts')}}</h1>
                    <p class="text-2xl">
                        {{lang('hero', 'contacts')|raw}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2xl">
        <div class="desktop:w-3/4 desktop:mx-auto">
            <div class="flex flex-wrap gap-sm">
                <a href="mailto:gspatarodev@gmail.com" target="_blank" class="bg-thunder-darker p-sm text-2xl text-center flex-1 basis-full">
                    <i class="fa-regular fa-envelope mb-xs text-4xl"></i>
                    <div>gspatarodev@gmail.com</div>
                </a>
                {%for social in data('global.socials')%}
                    <a href="{{social.link}}" target="_blank" class="bg-thunder-darker flex-1 p-sm text-2xl text-center">
                        <i class="{{social.icon}} mb-xs text-4xl"></i>
                        <div>{{social.label}}</div>
                    </a>
                {%endfor%}
            </div>
        </div>
    </div>
{%endblock%}
