<!DOCTYPE html>
<html lang="it">
    <head>
        {%include './components/head.html'%}
    </head>

    <body class="bg-thunder-darkest text-ivory-lightest">
        <div class="container max-w-[800px] py-xl">
            <div class="prose">
                <h1>Hey, benvenuto nel lato oscuro!</h1>
                <p>
                    Te lo aspettavi diverso, non è così? Beh che dire, certo il nero è misterioso e fa pensare solo a qualcosa di oscuro, ma ciò non significa che sia necessariamente così.
                    Fai pure come fossi a casa tua e ambientati!
                </p>
                <h2>Cose da sapere sul nero</h2>
                <p>
                    Innanzitutto il nero è la totale assenza di colore, quindi non è un colore, ma l'assenza di luce. Il colore può esistere solo in presenza di luce.
                    Perché ti sto dicendo tutto questo? Per renderti più consapevole del fatto che il nero non è necessariamente qualcosa dalla quale scappare.
                </p>
                <h2>Filosoficamente parlando</h2>
                <p>
                    In tutto questo magari stai cercando una verità nascosta che pensi io possa rivelarti. Eppure pensaci bene.
                    Sei arrivato qui suonando in maniera totalmente casuale i tasti del pianoforte sul mio sito (oppure ti è spuntata la pagina su google, ti vedo sai!),
                    il che rende casuale sia questo discorso che il nostro incontro in questa pagina. Per non lasciarti con l'amaro in bocca proseguirò con qualcosa di più utile.
                </p>
                <h2>Tu sei il contrasto</h2>
                <p>
                    Non scappare dal nero, ciò che contrasta di più con il nero, che è totale assenza di luce, è la luce stessa. Sii tu questa luce.<br>
                    Non male, eh?
                </p>
            </div>
            <div class="mt-md">
                <a href="{{website.url}}" class="btn text-ivory-lightest">
                    Torna al sito
                </a>
            </div>
        </div>
    </body>
</html>
