{%extends "./layout.html"%}
{%block main%}
    {%embed './components/section.html' with {'class': "h-[calc(100vh-var(--header-outer-height))] flex flex-col", 'nocontainer': true}%}
        {%block content%}
            <div class="container flex-1 flex flex-col">
                <h1 class="font-light">
                    <div>
                        Ciao,<br>
                        il mio nome è
                    </div>
                    <div>
                        <span class="font-normal">GIUSEPPE SPATARO</span>,
                    </div>
                    <div>
                        sono un <span class="text-stiletto dark:text-brass">pianista</span> e<br>
                        <span class="text-stiletto dark:text-brass">sviluppatore web</span><span class="animate-pulse">_</span>
                    </div>
                </h1>
                <div class="flex-1"></div>
                <a href="{%if articles%}#blog{%else%}#projects{%endif%}" class="self-end flex gap-2xs items-center justify-center font-normal">
                    <span class="uppercase">Continua a Leggere</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" d="M14 5H5v2h7v10.172l-3.95-3.95l-1.414 1.414L13 21l6.364-6.364l-1.414-1.414l-3.95 3.95V5Z"/></svg>
                </a>
            </div>
        {%endblock%}
    {%endembed%}
    {%if articles%}
        {%embed './components/section.html' with {
            'id': 'blog',
            'viewport': true,
        }%}
            {%block content%}
                <h2>Ultime dal blog</h2>
            {%endblock%}
        {%endembed%}
    {%endif%}
    {%embed './components/section.html' with {'id': 'projects', 'viewport': true}%}
        {%block content%}
            <h2 class="mb-md">Progetti in evidenza</h2>
            <div class="grid grid-cols-1 gap-sm mb-lg">
                {%for project in projects%}
                    {%include './components/project_card.html' with {'project': project} only%}
                {%endfor%}
            </div>
            <div class="flex items-center justify-center">
                <a href="#" class="btn-retro">
                    Vedi tutti
                </a>
            </div>
        {%endblock%}
    {%endembed%}
{%endblock%}
