{%extends "./layout/homepage.html"%}
{%block main%}
    {%embed './components/section.html' with {
        'nocontainer': true,
        'class': "bg-gradient-to-r from-ablescent-lightest from-50% to-thunder-darkest to-50% h-[100vh] border-b-thunder-darkest border-b-2"
    }%}
        {%block content%}
            <div class="container grid grid-cols-2 gap-3xl h-full pt-[--header-outer-height] max-w-[1600px]">
                <div class="flex flex-col">
                    <h1 class="font-light">
                        <div>
                            Ciao,<br>
                            il mio nome è
                        </div>
                        <div>
                            <span class="font-normal">GIUSEPPE SPATARO</span>,
                        </div>
                        <div class="w-max relative z-0">
                            sono un <span class="text-stiletto mix-blend-difference">pianista</span> e<br>
                            <span class="text-stiletto mix-blend-difference">sviluppatore web</span><span class="animate-pulse">_</span>
                            <div class="absolute top -right-[25%] w-[200px] h-[200px] bg-stiletto rounded-full -z-10"></div>
                        </div>
                    </h1>
                    <div class="flex-1"></div>
                    <a href="{%if articles%}#blog{%else%}#projects{%endif%}" class="self-end flex gap-2xs items-center justify-center font-normal">
                        <span class="uppercase">Continua a Leggere</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" d="M14 5H5v2h7v10.172l-3.95-3.95l-1.414 1.414L13 21l6.364-6.364l-1.414-1.414l-3.95 3.95V5Z"/></svg>
                    </a>
                </div>
            </div>
        {%endblock%}
    {%endembed%}
    {%if articles%}
        {%embed './components/section.html' with {
            'id': 'blog',
            'nocontainer': true,
            'class': 'bg-gradient-to-r from-thunder-darkest from-50% to-ablescent-lightest to-50% py-3xl'
        }%}
            {%block content%}
                <div class="container flex gap-3xl max-w-[1600px]">
                    <div class="basis-1/3 h-full flex text-ablescent-lightest">
                        <h2 class="writing-v-lr rotate-180 text-huge text-right">
                            BLOG
                        </h2>
                        <p class="flex-1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum. Eos, dolor et aliquid amet, quod architecto iure placeat libero quam illum excepturi obcaecati ipsam temporibus accusamus beatae? Officiis, est.
                        </p>
                    </div>
                    <div class="flex-1 grid grid-cols-2 gap-lg">
                        {%for id, article in articles%}
                            {%include './components/article/card.html' with {
                                'id': id,
                                'article': article,
                                'articles_cats': articles_cats,
                                'class': 'first:col-span-2',
                                'excerpt': loop.first
                            } only%}
                        {%endfor%}
                    </div>
                </div>
            {%endblock%}
        {%endembed%}
    {%endif%}
    {%embed './components/section.html' with {
        'id': 'projects',
        'nocontainer': true,
        'class': 'bg-gradient-to-r from-ablescent-lightest from-50% to-thunder-darkest to-50% py-3xl'
    }%}
        {%block content%}
            <div class="container flex gap-3xl max-w-[1600px] text-ablescent-lightest">
                <div class="flex-1 grid grid-cols-3">
                    {%for id, project in projects%}
                        {%include './components/project/card.html' with {
                            'id': id,
                            'project': project,
                            'class': 'tablet-v:w-2/3 tablet-v:even:justify-self-end laptop-sm:w-full'
                        } only%}
                    {%endfor%}
                </div>
                <div class="basis-1/3 h-full flex">
                    <p class="self-end">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maiores similique in sapiente aspernatur! Rem, laboriosam beatae vel voluptate et eius eveniet sapiente est. Quia fugit totam ut provident magnam.
                    </p>
                    <h2 class="writing-v-lr rotate-180 text-huge">
                        PROGETTI
                    </h2>
                </div>
            </div>
            <!--<div class="bg-thunder-darkest w-[50vw] absolute top right bottom -z-10"></div>-->
        {%endblock%}
    {%endembed%}
{%endblock%}
