<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="{{page.meta.robots ?? 'index, follow'}}">
        <meta name="description" content="{{page.meta.description ?? website.description}}">
        <meta name="keywords" content="{{page.meta.keywords ?? website.keywords}}">
        <meta name="author" content="{{website.author}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{page.title ? page.title ~ " - "}}{{website.name}}</title>
        <link href="{{website.url}}/assets/css/ui.css" rel="stylesheet">
        <script src="{{website.url}}/assets/js/ui.js"></script>
    </head>

    <body class="bg-ablescent-lightest dark:bg-thunder-darkest dark:text-ablescent-lightest">
        {%include './components/header.html'%}
        <main>
            {%if page.layout.contain%}
                <div class="container mt-lg">
            {%endif%}
                {%block main%}
                {%endblock%}
            {%if page.layout.contain%}
                </div>
            {%endif%}
        </main>
        {%include './components/footer.html'%}
    </body>
</html>
