<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="{{page.meta.robots ?? 'index, follow'}}">
        <meta name="description" content="{{page.meta.description}}">
        <meta name="keywords" content="{{page.meta.keywords}}">
        <meta name="author" content="Giuseppe Spataro">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{page.title ? page.title ~ " - "}}Giuseppe Spataro</title>
        <link href="/assets/css/ui.css" rel="stylesheet">
        <script src="/assets/js/ui.js"></script>
    </head>

    <body class="bg-ablescent-lightest">
        {%include './components/header.html'%}
        <main>
            {%block main%}
            {%endblock%}
        </main>
    </body>
</html>
