{%set experiences = [
    {
        "name": "Pianoforte brillante",
        "year": "2024",
        "location": "Teatro Donnafugata &bullet; Ragusa Ibla (RG)",
        "description": "Pianoforte a quattro mani"
    },
    {
        "name": "Premio Giovani Eccellenze",
        "year": "2021",
        "location": "Teatro Perracchio &bullet; Ragusa (RG)",
        "description": "Pianista solista"
    },
    {
        "name": "Musica da Metro",
        "year": "2019",
        "location": "Metro Piazza Stesicoro &bullet; Catania (CT)",
        "description": "Pianista solista"
    },
    {
        "name": "Apertura di concerto",
        "year": "2018",
        "location": "Teatro donnafugata &bullet; Ragusa Ibla (RG)",
        "description": "Pianista solista"
    }
]%}
{%extends "./layout/default.html"%}
{%block main%}
    <div class="w-1/2 prose mb-xl">
        <h1>Pianista</h1>
        <p class="text-sm">
            Ho iniziato a studiare pianoforte all'età di 5 anni e ho completato gli studi nel 2022 conseguendo la laurea magistrale in Pianoforte
            con il massimo dei voti e la lode.
            Negli anni ho maturato numerose esperienze per teatri ed enti privati, ho
            anche preso parte a molti concorsi nazionali e masterclasses con pianisti di fama internazionale.
        </p>
    </div>
    <div class="bg-brass-lightest/20 p-sm rounded-xl flex gap-sm items-start mb-xl">
        <h2 class="writing-v-lr rotate-180">
            BIOGRAFIA
        </h2>
        <div class="flex-1 prose">
            <p>
                Giuseppe Spataro, pianista ispicese, è nato a Modica nel 1996. Ha iniziato gli studi di pianoforte all'età di 4 anni. Nel 2007 prosegue gli studi presso il corso musicale dell’istituto Leonardo Da Vinci di Ispica esibendosi per i saggiscolastici e partecipando a diverse rassegne con l’orchestra dell’istituto stesso. Nel 2011 inizia gli studi, come privatista, presso l’Accademia Mediterranea della Musica di Pozzallo continuando ad esibirsi per i saggi dell’accademia e per le manifestazioni dell’associazione culturale Agorà di Ispica.
            </p>
            <p>
                Dal 2016 prosegue gli studi presso l'istituto Vincenzo Bellini di Catania nella classe del Maestro Giovanni Cultrera e consegue la laurea magistrale in Pianoforte con il massimo dei voti e la lode. In varie occasioni si è esibito al teatro Donnafugata di Ragusa Ibla.
            </p>
            <p>
                Nel 2018 ha partecipato al XVI Concorso Nazionale “Alfio Pulvirenti” di Comiso ottenendo il primo posto. Nel 2019 si è esibito come pianista accompagnatore per il ventesimo anniversario dell’A.S.S.O.D. di Ispica e come pianista solista per il progetto “Musica da Metro” nella stazione metropolitana Stesicoro di Catania. Sempre nel 2019 ha partecipato al XVII Concorso Nazionale “Alfio Pulvirenti” di Comiso ed al XI Festival Concorso Nazionale “Giovani Musicisti in Orchestra” ottenendo in entrambi il primo posto.
            </p>
            <p>
                Ha preso parte a numerose master classes presso la Rachmaninov Society con la pianista Violetta Egorova e presso l’istituto Vincenzo Bellini di Catania con il pianista Joaquín Achúcarro.
            </p>
        </div>
    </div>
    <div>
        <h2 class="leading-none mb-sm">Progetti</h2>
        <div class="grid tablet-v:grid-cols-2 laptop-lg:grid-cols-3 gap-md">
            <div class="border-thunder-darkest border-2 border-dashed rounded-3xl p-sm">
                <h5 class="mb-3xs">Work in progress</h5>
                <p>
                    Resta aggiornato, a breve tanti progetti!
                </p>
            </div>
        </div>
    </div>
{%endblock%}
