{%set page = {
    'title': project.frontmatter.name,
    'layout': {
        'contain': true,
        'breadcrumb': {
            'index': 'Home',
            'projects.page-1': 'Progetti',
            '': project.frontmatter.name
        }
    },
    'meta': {
        'description': project.frontmatter.description,
        'keywords': project.frontmatter.keywords
    }
}%}
{%extends "./layout/default.html"%}
{%block main%}
    <article>
        <header class="mb-lg tablet-v:w-2/3 tablet-h:w-1/2">
            <div class="flex items-center mb-md">
                <h1 class="flex-1">{{project.frontmatter.name}}</h1>

            </div>
            {%include './components/post/meta.html' with {'meta': {
                "Categoria": projects_cats[project.frontmatter.category].label,
                "Tecnologie": project.frontmatter.technologies|join(', '),
                "Versione": project.frontmatter.version,
                "Links": include('./components/project/links.html')
            }} only%}
        </header>
        <div class="prose">
            {%if project.frontmatter.twig%}
                {{include(template_from_string(project.content))}}
            {%else%}
                {{project.content|raw}}
            {%endif%}
        </div>
    </article>
{%endblock%}
