{%set page = {
    'title': project.frontmatter.name,
    'layout': {
        'contain': true
    },
    'meta': {
        'description': project.frontmatter.description,
        'keywords': project.frontmatter.keywords
    }
}%}
{%extends "./layout.html"%}
{%block main%}
    <article>
        <header class="mb-lg">
            <div class="flex items-center mb-md">
                <h1 class="flex-1">{{project.frontmatter.name}}</h1>
                {%include './components/project/links.html'%}
            </div>
            {%include './components/post/meta.html' with {'meta': {
                "Categoria": projects_cats[project.frontmatter.category].label,
                "Tecnologie": project.frontmatter.technologies|join(', '),
                "Versione": project.frontmatter.version
            }} only%}
        </header>
        {%if project.frontmatter.thumbnail%}
            <figure class="mb-md">
                <img src="{{website.url}}/assets/images/{{project.frontmatter.thumbnail}}" alt="{{project.frontmatter.title}}">
            </figure>
        {%endif%}
        <div class="prose">
            {%if project.frontmatter.twig%}
                {{include(template_from_string(project.content))}}
            {%else%}
                {{project.content|raw}}
            {%endif%}
        </div>
    </article>
{%endblock%}
