{%set page = {
    'title': project.meta.name ~ ' &bullet; Progetti',
    'layout': {
        'contain': true
    },
    'meta': {
        'description': project.meta.description,
        'keywords': project.meta.keywords
    }
}%}
{%extends "./layout.html"%}
{%block main%}
    <article>
        <header class="mb-lg">
            <div class="flex items-center mb-md">
                <h1 class="flex-1">{{project.meta.name}}</h1>
                {%include './components/project/links.html'%}
            </div>
            {%include './components/project/meta.html' with {'meta': {
                "Categoria": project.meta.categories|join(', '),
                "Tecnologie": project.meta.tags|join(', '),
                "Versione": project.meta.version
            }} only%}
        </header>
        {{project.content|raw}}
    </article>
{%endblock%}
