{%set page = {
    'title': 'Progetti',
    'id': 'projects',
    'layout': {
        'contain': true,
        'breadcrumb': {
            'index': 'Home',
            '': 'Progetti'
        }
    }
}%}
{%extends "./layout.html"%}
{%block main%}
    <h1 class="mb-md">Progetti</h1>
    <div class="grid grid-cols-1 gap-sm">
        {%for id, project in projects%}
            {%include './components/project/card.html' with {
                'id': id,
                'project': project,
                'class': 'tablet-v:w-2/3 tablet-v:even:justify-self-end'
            } only%}
        {%endfor%}
    </div>
    <div>
        {%if pagination.prev%}
            <a href="{{url('projects.page-' ~ pagination.prev)}}">Precedente</a>
        {%endif%}
        {%if pagination.next%}
            <a href="{{url('projects.page-' ~ pagination.next)}}">Successivo</a>
        {%endif%}
    </div>
{%endblock%}
