{%extends "./layout/default.html"%}
{%block main%}
    {%include './components/accordion.html' with {
        'id': 'services',
        'items': [
            {
                'title': 'Performance dal vivo',
                'description': 'Mi esibisco per svariate tipologie di eventi pubblici e privati, concerti e matrimoni.'
            },
            {
                'title': 'Sessioni in studio',
                'description': 'Trasformo le tue idee in suono per le registrazioni in studio di cui hai bisogno.'
            },
            {
                'title': 'Accompagnamento',
                'description': 'Sono un pianista accompagnatore per solisti o ensamble strumentali.'
            },
            {
                'title': 'Branding musicale aziendale',
                'description': 'Curo la brand identity musicale della tua azienda, dal sound logo ai jingle pubblicitari per le tue campagne.'
            },
            {
                'title': 'Soundtracks',
                'description': 'Realizzo le colonne sonore per i tuoi video, videogiochi o altre tipologie di prodotti.'
            },
            {
                'title': 'Lezioni private',
                'description': 'Offro lezioni private di pianoforte ad ogni livello.'
            }
        ]
    }%}
{%endblock%}
