{%set page = {
    "label": "contacts",
    "title": lang('title', 'contacts'),
    "path": "success.html",
    "exclude_contact_footer": true,
    "meta": {
        "robots": "noindex, nofollow"
    }
}%}
{%extends "./layout.html"%}
{%block content%}
    {{include("./components/contacts_heading.html")}}
    {%set successContentSection = lang('form.success', 'contacts')|split("|")%}
    <div class="container py-2xl">
        <div class="desktop:w-3/4 desktop:mx-auto">
            <div class="text-center text-xl" id="success">
                <div class="mb-sm text-6xl text-green">
                    <i class="fa-regular fa-circle-check"></i>
                </div>
                <p>
                    {{successContentSection[0]}}
                </p>
                <p>
                    {{successContentSection[1]}}
                </p>
            </div>
        </div>
    </div>
{%endblock%}
