<footer class="
    relative
    bg-thunder-darkest
    border-t-[10px]
    border-t-stiletto
    text-ivory-lightest
    after:absolute
    after:top-0
    after:left-[calc(50%-15px)]
    after:border-[24px]
    after:border-transparent
    after:border-t-stiletto">
    <div class="container">
        <!-- WRAPPER -->
        <div class="flex py-sm">
            <!-- CONTACTS -->
            <div>
                {%include './components/social.html' with {'style': 'fortepiano'}%}
            </div>
            <!-- END CONTACTS -->
            <!-- SPACER -->
            <div class="flex-1"></div>
            <!-- END SPACER -->
            <!-- COPYRIGHT -->
            <div class="font-normal">
                &copy; 2024 Giuseppe Spataro.
            </div>
            <!-- END COPYRIGHT -->
        </div>
        <!-- END WRAPPER -->
    </div>
</footer>
