{#<footer id="footer" class="
    relative
    bg-brass/20
    text-thunder-darkest" data-style="{{style ?? 'pianoforte'}}">
    <div class="container">
        <!-- WRAPPER -->
        <div class="flex flex-col gap-xs py-sm tablet-v:flex-row">
            <!-- CONTACTS -->
            <div>
                {%include './components/social.html' with {'style': 'pianoforte'}%}
            </div>
            <!-- END CONTACTS -->
            <!-- SPACER -->
            <div class="flex-1 hidden tablet-v:block"></div>
            <!-- END SPACER -->
            <!-- COPYRIGHT -->
            <div class="font-normal text-center tablet-v:text-right">
                &copy; 2024 Giuseppe Spataro.
            </div>
            <!-- END COPYRIGHT -->
        </div>
        <!-- END WRAPPER -->
    </div>
</footer>#}

<footer id="footer">
    <!-- PRE FOOTER -->
    <div class="bg-brass/20 py-xl">
        <div class="container flex flex-col items-start justify-center gap-sm tablet-h:flex-row tablet-h:items-center tablet-h:flex-wrap tablet-h:w-2/3 tablet-h:gap-2xl">
            <div class="basis-2/4">
                <h3 class="mb-4xs">Contattami</h3>
                <p class="text-sm">Scrivimi se vuoi farmi delle domande o restare in contatto, sarò felice di risponderti!</p>
            </div>
            <a href="#" class="btn text-sm">
                SCRIVIMI
            </a>
        </div>
    </div>
    <!-- END PRE FOOTER -->
    <!-- FOOTER -->
    <div>
        <div class="container flex items-center gap-xs flex-col py-sm tablet-v:flex-row">
            <div>
                {%include './components/social.html' with {'style': 'pianoforte'}%}
            </div>
            <div class="flex-1 hidden tablet-v:block"></div>
            <div>
                &copy; 2024 Giuseppe Spataro.
            </div>
        </div>
    </div>
    <!-- END FOOTER-->
</footer>
