<header class="bg-thunder-darkest sticky top-0 left-0 bottom-0 w-[100px] h-[100vh]">
    <div class="h-full w-full writing-v-lr">
        <div class="flex items-center w-full py-xs">
            <div class="rotate-180">
                {%include './components/navbar.html' with {
                    'items': {
                        'blog': {
                            'label': 'Blog',
                            'url': url('blog.page-1')
                        },
                        'projects': {
                            'label': 'Progetti',
                            'url': url('projects.page-1')
                        },
                        'about': {
                            'label': 'Chi sono',
                            'url': '#'
                        },
                        'contacts': {
                            'label': 'Scrivimi',
                            'url': 'mailto:gspatarodev@gmail.com'
                        }
                    }
                }%}
            </div>
            <div class="flex-1"></div>
            <a href="{{url('index')}}">
                <img src="{{website.url}}/assets/images/logo-light-vertical.svg" alt="Giuseppe Spataro" aria-label="Homepage">
            </a>
        </div>
    </div>
</header>
