<header class="bg-ablescent-lightest border-b-2 border-thunder-darkest sticky top z-20 dark:bg-thunder-darkest dark:border-thunder">
    <div class="h-[--header-height] container flex items-center">
        <a href="{{url('index')}}" class="d-block w-fit text-thunder-darkest uppercase no-underline logo dark:text-ablescent-lightest">
            <img src="./assets/images/logo.svg" alt="" aria-label="Giuseppe Spataro">
        </a>
        <div class="flex-1"></div>
        {%include './components/navbar.html' with {
            'items': {
                'portfolio': {
                    'label': 'Progetti',
                    'url': url('projects')
                },
                'blog': {
                    'label': 'Blog',
                    'url': '#'
                },
                'about': {
                    'label': 'Chi sono',
                    'url': '#'
                },
                'contacts': {
                    'label': 'Scrivimi',
                    'url': 'mailto:gspatarodev@gmail.com'
                }
            }
        }%}
    </div>
</header>
