<header class="bg-ablescent-lightest border-b-2 border-thunder-darkest sticky top z-20 dark:bg-thunder-darkest dark:border-thunder">
    <div class="h-[--header-height] container flex items-center">
        <a href="{{url('index')}}">
            <img src="{{website.url}}/assets/images/logo.svg" alt="" aria-label="Giuseppe Spataro" class="dark:hidden">
            <img src="{{website.url}}/assets/images/logo-light.svg" alt="" aria-label="Giuseppe Spataro" class="hidden dark:inline">
        </a>
        <div class="flex-1"></div>
        {%include './components/navbar.html' with {
            'items': {
                'projects': {
                    'label': 'Progetti',
                    'url': url('projects.page-1')
                },
                'blog': {
                    'label': 'Blog',
                    'url': url('blog.page-1')
                },
                'about': {
                    'label': 'Chi sono',
                    'url': '#'
                },
                'contacts': {
                    'label': 'Scrivimi',
                    'url': 'mailto:gspatarodev@gmail.com'
                }
            }
        }%}
    </div>
</header>
