<div id="navbar" class="group" data-status="closed">
    <ul class="flex gap-xs">
        <li>
            <a href="javascript:void(0)" class="text-thunder-darkest dark:text-ablescent-lightest toggle-mode">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="hidden dark:block" aria-label="Modalità Chiara"><path fill="currentColor" d="M12 18a6 6 0 1 1 0-12a6 6 0 0 1 0 12Zm0-2a4 4 0 1 0 0-8a4 4 0 0 0 0 8ZM11 1h2v3h-2V1Zm0 19h2v3h-2v-3ZM3.515 4.929l1.414-1.414L7.05 5.636L5.636 7.05L3.515 4.93ZM16.95 18.364l1.414-1.414l2.121 2.121l-1.414 1.414l-2.121-2.121Zm2.121-14.85l1.414 1.415l-2.121 2.121l-1.414-1.414l2.121-2.121ZM5.636 16.95l1.414 1.414l-2.121 2.121l-1.414-1.414l2.121-2.121ZM23 11v2h-3v-2h3ZM4 11v2H1v-2h3Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="dark:hidden" aria-label="Modalità Scura"><path fill="currentColor" d="M10 6a8 8 0 0 0 11.955 6.956C21.474 18.03 17.2 22 12 22C6.477 22 2 17.523 2 12c0-5.2 3.97-9.474 9.044-9.955A7.963 7.963 0 0 0 10 6Zm-6 6a8 8 0 0 0 8 8a8.006 8.006 0 0 0 6.957-4.045c-.316.03-.636.045-.957.045c-5.523 0-10-4.477-10-10c0-.321.015-.64.045-.957A8.006 8.006 0 0 0 4 12Zm14.164-9.709L19 2.5v1l-.836.209a2 2 0 0 0-1.455 1.455L16.5 6h-1l-.209-.836a2 2 0 0 0-1.455-1.455L13 3.5v-1l.836-.209A2 2 0 0 0 15.29.836L15.5 0h1l.209.836a2 2 0 0 0 1.455 1.455Zm5 5L24 7.5v1l-.836.209a2 2 0 0 0-1.455 1.455L21.5 11h-1l-.209-.836a2 2 0 0 0-1.455-1.455L18 8.5v-1l.836-.209a2 2 0 0 0 1.455-1.455L20.5 5h1l.209.836a2 2 0 0 0 1.455 1.455Z"/></svg>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="text-thunder-darkest dark:text-ablescent-lightest toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="group-data-[status=open]:hidden" aria-label="Apri Menu"><path fill="currentColor" d="M3 4h18v2H3V4Zm6 7h12v2H9v-2Zm-6 7h18v2H3v-2Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="group-data-[status=closed]:hidden" aria-label="Chiudi Menu"><path fill="currentColor" d="m12 10.586l4.95-4.95l1.415 1.415l-4.95 4.95l4.95 4.95l-1.415 1.414l-4.95-4.95l-4.95 4.95l-1.413-1.415l4.95-4.95l-4.95-4.95L7.05 5.638l4.95 4.95Z"/></svg>
            </a>
        </li>
    </ul>
    <div class="bg-thunder-darkest/50 fixed inset top-[--header-outer-height] hidden group-data-[status=open]:block close" tabindex="0"></div>
    <div class="bg-ablescent-lightest fixed top-[--header-outer-height] right bottom w-[70vw] border-l-2 border-thunder-darkest flex flex-col items-center group-data-[status=closed]:hidden dark:bg-thunder-darkest dark:border-thunder navbar-content tablet-v:w-[50vw]">
        <nav class="py-lg">
            <ul class="flex flex-col gap-xs">
                {%for id, item in items%}
                    <li class="text-center font-normal text-lg">
                        {%if page.id and page.id == id%}
                            <a href="{{item.url}}" class="text-thunder-darkest uppercase underline decoration-stiletto decoration-2 underline-offset-[10px] dark:text-ablescent-lightest dark:decoration-brass">
                                {{item.label}}
                            </a>
                        {%else%}
                            <a href="{{item.url}}" class="text-thunder-darkest uppercase no-underline dark:text-ablescent-lightest">
                                {{item.label}}
                            </a>
                        {%endif%}
                    </li>
                {%endfor%}
            </ul>
        </nav>
        {%include './components/social.html'%}
    </div>
</nav>
