<nav>
    <!-- WRAPPER -->
    <ul class="flex flex-col gap-2xs items-center tablet-v:flex-row tablet-h:gap-xs desktop:gap-sm">
        {%for id, item in items%}
            <!-- ITEM -->
            <li class="text-sm font-oswald font-normal uppercase tablet-v:text-[20px] tablet-h:text-[22px] desktop:text-[24px]">
                <a href="{{item.url}}" class="
                    no-underline
                    group-data-[style=pianoforte]/header:text-ivory-lightest
                    group-data-[style=fortepiano]/header:text-thunder-darkest
                    tablet-h:group-data-[style=fortepiano]/header:text-ivory-lightest
                    tablet-h:group-data-[style=pianoforte]/header:text-thunder-darkest">
                    {{item.label}}
                </a>
            </li>
            <!-- END ITEM -->
        {%endfor%}
    </ul>
    <!-- END WRAPPER -->
</nav>
