{%set item = data('portfolio.projects.' ~ item_key)%}
<div class="flex flex-col laptop:transition-transform laptop:duration-75 laptop:hover:scale-105" data-category="{{item.category}}">
    {%if item.thumbnail%}
        <a href="javascript:none" class="bg-thunder-darkest w-full h-[230px] rounded-t-2xl">
            <figure class="w-[inherit] h-full">
                <img src="{{item.thumbnail}}" alt="" class="max-w-full max-h-full min-w-full min-h-full rounded-t-2xl object-cover object-center">
            </figure>
        </a>
    {%endif%}
    <div class="flex-1 flex flex-col gap-xs p-sm bg-thunder-light {%if item.thumbnail%}rounded-b-2xl{%else%}rounded-2xl{%endif%}">
        <div class="flex gap-3xs items-center">
            <h2 class="flex-1">{{lang('projects.' ~ item_key, 'portfolio')}}</h2>
            {%if item.links%}
                <ul class="flex gap-xs text-2xl">
                    {%if item.links.github%}
                        <li>
                            <a href="{{item.links.github}}" target="_blank" class="hover:text-white/60">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                    {%endif%}
                    {%if item.links.website%}
                        <li>
                            <a href="{{item.links.website}}" class="ml-2 hover:text-white/60" target="_blank">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </li>
                    {%endif%}
                </ul>
            {%endif%}
        </div>
        <div class="flex-1">
            {{parsedown('portfolio/' ~ item_key)|raw}}
        </div>
        <ul class="flex flex-wrap gap-3xs">
            {%for tool in item.tools%}
                <li class="bg-thunder-darker py-3xs px-2xs rounded-xl">{{tool}}</li>
            {%endfor%}
        </ul>
    </div>
</div>
