{%include './components/slider.html' with {
    'title': 'Cosa faccio',
    'title_tag': title_tag ?? 'h2',
    'class': class ?? '',
    'slides': [
        {
            'title': 'Performances',
            'description': 'Mi esibisco dal vivo per eventi pubblici e privati, dai concerti in teatro ai matrimoni.'
        },
        {
            'title': 'Sessioni in studio',
            'description': 'Mi presento in studio per trasformare le tue idee in suono e partecipare alle tue registrazioni.'
        },
        {
            'title': 'Accompagnamento',
            'description': 'Sono un pianista accompagnatore per musicisti solisti o ensamble strumentali di qualunque repertorio musicale.'
        },
        {
            'title': 'Branding musicale',
            'description': 'Curo la brand identity musicale della tua azienda, dal sound logo ai jingle pubblicitari per le tue campagne.'
        },
        {
            'title': 'Musica originale',
            'description': 'Realizzo le colonne sonore per i tuoi video, videogiochi o altre tipologie di prodotti.'
        },
        {
            'title': 'Lezioni private',
            'description': 'Offro lezioni private di pianoforte ad ogni livello.'
        }
    ]
}%}
