{%include './components/slider.html' with {
    'title': 'Cosa faccio',
    'title_tag': title_tag ?? 'h2',
    'class': class ?? '',
    'slides': [
        {
            'title': 'Performances',
            'description': 'Esibizioni dal vivo per concerti, eventi speciali e cerimonie come matrimoni.'
        },
        {
            'title': 'Branding musicale',
            'description': 'Creo jingle originali e sound logo su misura per brand, spot e contenuti digitali.'
        },
        {
            'title': 'Musica originale',
            'description': 'Compongo brani personalizzati o colonne sonore per film, video e videogames.'
        },
        {
            'title': 'Lezioni private',
            'description': 'Offro lezioni di pianoforte individuali per ogni livello.'
        },
        {
            'title': 'Accompagnamento',
            'description': 'Accompagno strumentisti, cantanti o ensemble per prove, concerti o audizioni.'
        },
        {
            'title': 'Sessioni in studio',
            'description': 'Collaboro in studio per registrare parti pianistiche su progetti musicali e album.'
        }
    ]
}%}
