{%from './components/icon.html' import icon%}
<ul class="flex justify-center items-center gap-2xs group" data-style="{{style ?? ''}}">
    <li>
        <a href="https://www.twitter.com/gspataro96" target="_blank" class="text-inherit group-data-[style=pianoforte]:text-thunder-darkest group-data-[style=fortepiano]:text-ivory-lightest">
            {{icon('twitter', '24')}}
        </a>
    </li>
    <li>
        <a href="https://www.github.com/gspataro" target="_blank" class="text-inherit group-data-[style=pianoforte]:text-thunder-darkest group-data-[style=fortepiano]:text-ivory-lightest">
            {{icon('github', '24')}}
        </a>
    </li>
    <li>
        <a href="mailto:{{website.email}}" target="_blank" class="text-inherit group-data-[style=pianoforte]:text-thunder-darkest group-data-[style=fortepiano]:text-ivory-lightest">
            {{icon('email', '24')}}
        </a>
    </li>
</ul>
