@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /**
     * Roboto
     */

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Black.eot');
        src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Italic.eot');
        src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Light.eot');
        src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-ThinItalic.eot');
        src: url('../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
            url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
        font-weight: 100;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Bold.eot');
        src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-BlackItalic.eot');
        src: url('../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
            url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Regular.eot');
        src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Medium.eot');
        src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Thin.eot');
        src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
            url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-LightItalic.eot');
        src: url('../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
            url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
        src: url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
            url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-BoldItalic.eot');
        src: url('../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
            url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
            url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    /**
     * Roboto Flex
     */

    @font-face {
        font-family: 'Roboto Flex';
        src: url('../fonts/RobotoFlex/RobotoFlex-Regular.eot');
        src: url('../fonts/RobotoFlex/RobotoFlex-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/RobotoFlex/RobotoFlex-Regular.woff2') format('woff2'),
            url('../fonts/RobotoFlex/RobotoFlex-Regular.woff') format('woff'),
            url('../fonts/RobotoFlex/RobotoFlex-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

@layer components {
    .link-highlight {
        @apply
            underline
            decoration-fawn-light
            decoration-2
            decoration-wavy
            underline-offset-[10px]
            hover:decoration-fawn-lighter;
    }

    .section-arrow-down {
        @apply
            relative
            after:content-['']
            after:absolute after:bottom-[-50px]
            after:left-[50%]
            after:translate-x-[-50%]
            after:mt-[25px]
            after:border-[25px]
            after:border-transparent
            after:z-10;
    }

    .bg-squares {
        @apply
            absolute
            inset
            overflow-hidden
            -z-10;
    }

    .bg-squares li {
        @apply
            bg-thunder-light
            block
            absolute
            w-[20px]
            h-[20px]
            -bottom-[150px];
    }

    .bg-squares li:nth-child(1) {
        @apply
            left-[25%]
            w-[80px]
            h-[80px]
            animate-nogravity;

        animation-delay: 3s;
        animation-duration: 15s;
    }

    .bg-squares li:nth-child(2) {
        @apply
            left-[10%]
            animate-nogravity;

        animation-delay: 2s;
        animation-duration: 12s;
    }

    .bg-squares li:nth-child(3) {
        @apply
            left-[50%]
            w-[40px]
            h-[40px]
            animate-nogravitynegative;

        animation-delay: 4s;
        animation-duration: 13s;
    }

    .bg-squares li:nth-child(4) {
        @apply
            left-[55%]
            w-[80px]
            h-[80px]
            animate-nogravitynegative;

        animation-delay: 6s;
        animation-duration: 15s;
    }

    .typography p {
        @apply mb-sm;
    }

    .typography p:first-child {
        @apply mt;
    }

    .typography p:last-child {
        @apply mb;
    }
}

@layer utilities {
    .active {
        @apply
            text-brass;
    }
}
