{%set page = {
    "label": "about",
    "title": "Chi sono"
}%}
{%extends "./layout.html"%}
{%block content%}
    <div class="bg-gradient-to-br bg-violet-900 from-violet-600 to-violet-900 pt-32 pb-48">
        <div class="w-2/3 mx-auto text-2xl text-justify">
            Sono un Maestro specializzato in pianoforte con approfondite conoscenze nell'ambito dello sviluppo web. Ho una forte passione per tutto ciò che riguarda la musica e la tecnologia.
            Anche se a primo impatto le due materie non sembrano collegate, ritengo che musica e programmazione abbiano molto in comune e che entrambe siano una forma d'arte e amo utilizzare una disciplina a supporto dell'altra.
        </div>
    </div>
    <div class="bg-stone-800 pb-32">
        <div class="w-2/3 text-2xl mx-auto">
            <div class="flex space-x-14">
                <div class="basis-1/2 grow-0 bg-stone-900 shadow-lg shadow-stone-900 p-20 rounded-2xl -mt-32">
                    <div class="text-center">
                        <span class="text-5xl text-cyan-600"><i class="fa-solid fa-music"></i></span>
                        <h2 class="my-5 font-semibold">Musicista</h2>
                    </div>
                    <p class="my-14 text-center">
                        Mi occupo di concerti come pianista solista e accompagnatore oltre ad avere la capacità di insegnare.
                    </p>
                    {{include("./components/skills.html", {"skills": about.skills.music})}}
                </div>
                <div class="basis-1/2 grow-0 bg-stone-900 shadow-lg shadow-stone-900 p-20 rounded-2xl -mt-32">
                    <div class="text-center">
                        <span class="text-5xl text-cyan-600"><i class="fa-solid fa-code"></i></span>
                        <h2 class="my-5 font-semibold">Sviluppatore Web</h2>
                    </div>
                    <p class="my-14 text-center">
                        Sviluppo siti internet occupandomi soprattutto dell'aspetto backend e amo portare alla vita nuovi progetti.
                    </p>
                    {{include("./components/skills.html", {"skills": about.skills.development})}}
                </div>
            </div>
        </div>
    </div>
{%endblock%}
