{%set page = {
    "label": "contacts",
    "title": "Contatti"
}%}
{%extends "./layout.html"%}
{%block content%}
    <div class="bg-gradient-to-br bg-green-800 from-green-500 to-green-800 pt-14 pb-24">
        <div class="w-2/3 mx-auto">
            <h1>Contattami</h1>
        </div>
    </div>
    <div class="pb-20 -mt-16">
        <div class="w-2/3 flex items-start space-x-10 mx-auto">
            <div class="bg-stone-900 shadow-lg shadow-stone-900 rounded-xl basis-1/3 p-8">
                <p class="text-lg text-justify">
                    Usa il form qui di lato per contattarmi. Nel caso in cui il form non dovesse essere disponibile, puoi contattarmi utilizzando le piattaforme social qui di seguito:
                </p>
                <div class="max-w-fit mx-auto text-2xl mt-10">
                    {{include("./components/socials.html")}}
                </div>
            </div>
            <div class="bg-stone-900 shadow-lg shadow-stone-900 rounded-xl basis-2/3 p-8">
                <form>
                    <div class="flex space-x-6 mb-6">
                        <div class="basis-1/2">
                            <input type="text" name="name" placeholder="Nome e Cognome" class="w-full p-3 rounded-lg text-lg bg-stone-800 placeholder:text-white/50" required />
                        </div>
                        <div class="basis-1/2">
                            <input type="email" name="email" placeholder="Indirizzo Email" class="w-full p-3 rounded-lg text-lg bg-stone-800 placeholder:text-white/50" required />
                        </div>
                    </div>
                    <textarea name="message" placeholder="Messaggio" class="w-full p-3 rounded-lg text-lg bg-stone-800 min-h-[200px] placeholder:text-white/50" required></textarea>
                    <div class="mt-6 text-center">
                        <button type="submit" name="send" class="bg-violet-700 hover:bg-violet-600 text-white py-3 px-4 rounded-lg">
                            Invia Messaggio
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endblock%}
