{%set page = {
    "label": "contacts",
    "title": "contacts.title"|localize,
    "path": "contacts.html",
    "exclude_contact_footer": true
}%}
{%extends "./layout.html"%}
{%block content%}
    <div class="py-2xl bg-thunder-darker section-arrow-down after:border-t-thunder-darker">
        <div class="container">
            <div class="flex flex-col gap-xs tablet:items-center tablet:flex-row desktop:w-3/4 desktop:mx-auto">
                <div class="flex-1">
                    <h1>{{'contacts.title'|localize}}</h1>
                    <p class="text-2xl">
                        {{'contacts.hero'|localize|raw}}
                    </p>
                </div>
                <div class="grid grid-cols-2 gap-xs items-center">
                    {%for social in layout.socials%}
                        <a href="{{social.link}}" class="text-3xl">
                            <i class="{{social.icon}}"></i> {{social.label}}
                        </a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2xl">
        <div class="desktop:w-3/4 desktop:mx-auto">
            <div class="text-center text-xl hidden" id="success">
                <div class="mb-sm text-6xl text-green">
                    <i class="fa-regular fa-circle-check"></i>
                </div>
                <p>
                    {{'contacts.form.thankyou'|localize}}
                </p>
                <p>
                    {{'contacts.form.reply'|localize}}
                </p>
            </div>
            <form action="https://forms.un-static.com/forms/8ddfb135579bf13ce8270a0afaa8382dbd456e51" id="form" method="post">
                <div class="flex flex-col space-y-sm mb-sm tablet:flex-row tablet:space-y tablet:space-x-sm">
                    <div class="basis-1/2">
                        <input type="text" name="name" placeholder="{{'contacts.form.fullname'|localize}}" class="w-full py-xs px-sm rounded-lg text-lg bg-thunder-dark/50 placeholder:text-white/30" required />
                    </div>
                    <div class="basis-1/2">
                        <input type="email" name="_replyto" placeholder="{{'contacts.form.email'|localize}}" class="w-full py-xs px-sm rounded-lg text-lg bg-thunder-dark/50 placeholder:text-white/30" required />
                    </div>
                </div>
                <textarea name="message" placeholder="{{'contacts.form.message'|localize}}" class="w-full py-xs px-sm rounded-lg text-lg bg-thunder-dark/50 min-h-[200px] placeholder:text-white/30" required></textarea>
                <div class="mt-sm text-center">
                    <button type="submit" class="bg-fawn-darker text-lg text-white py-2xs px-sm rounded-lg uppercase">
                        {{'contacts.form.send'|localize}}
                    </button>
                </div>
                <div class="text-md text-right mt-sm text-white/30">
                    <a href="https://un-static.com/" target="_blank">Form powered by Un-Static</a>.
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            if(window.location.hash == "#success") {
                document.getElementById("form").classList.add("hidden");
                document.getElementById("success").classList.remove("hidden");
            }
        });
    </script>
{%endblock%}
