{%set page = {
    "label": "contacts",
    "title": "contacts.title"|localize,
    "path": "contacts.html",
    "exclude_contact_footer": true
}%}
{%extends "./layout.html"%}
{%block content%}
    {{include("./components/contacts_heading.html")}}
    <div class="container py-2xl">
        <div class="desktop:w-3/4 desktop:mx-auto">
            <form action="{{'contacts.form.action'|localize}}" id="form" method="post">
                <div class="flex flex-col space-y-sm mb-sm tablet:flex-row tablet:space-y tablet:space-x-sm">
                    <div class="basis-1/2">
                        <input type="text" name="name" placeholder="{{'contacts.form.fullname'|localize}}" class="w-full py-xs px-sm rounded-lg text-lg bg-thunder-dark/50 placeholder:text-white/30" required />
                    </div>
                    <div class="basis-1/2">
                        <input type="email" name="_replyto" placeholder="{{'contacts.form.email'|localize}}" class="w-full py-xs px-sm rounded-lg text-lg bg-thunder-dark/50 placeholder:text-white/30" required />
                    </div>
                </div>
                <textarea name="message" placeholder="{{'contacts.form.message'|localize}}" class="w-full py-xs px-sm rounded-lg text-lg bg-thunder-dark/50 min-h-[200px] placeholder:text-white/30" required></textarea>
                <div class="mt-sm text-center">
                    <button type="submit" class="bg-fawn-darker text-lg text-white py-2xs px-sm rounded-lg uppercase">
                        {{'contacts.form.send'|localize}}
                    </button>
                </div>
                <div class="text-md text-right mt-sm text-white/30">
                    <a href="https://un-static.com/" target="_blank">Form powered by Un-Static</a>.
                </div>
            </form>
        </div>
    </div>
{%endblock%}
