{%set page = {
    "label": "index"
}%}
{%extends "./layout.html"%}
{%block content%}
    <div class="flex-1">
        <!-- Welcome -->
        <div class="py-2xl section-arrow-down after:border-t-thunder-darkest">
            <div class="container">
                <p class="text-4xl mb-3xs">
                    {{lang.index.welcome|default('Benvenuto')}},
                </p>
                <p class="text-4xl my-3xs">
                    {{lang.index.mynameis|default('il mio nome è')}}
                </p>
                <h1 class="text-6xl uppercase my-3xs"><span class="text-brass">Giuseppe Spataro</span>,</h1>
                <h2 class="text-4xl mt-3xs">
                    {{lang.index.iama|default('sono un')}}
                    <span class="whitespace-nowrap">{{lang.index.pianist|default('pianista e')}}</span>
                    <span class="whitespace-nowrap">{{lang.index.developer|default('sviluppatore web')}}<span class="animate-pulse">_</span></span>
                </h2>
            </div>
        </div>
        <!-- Portfolio -->
        <div class="py-2xl bg-thunder-darker section-arrow-down after:border-t-thunder-darker">
            <div class="container">
                <div class="text-right">
                    <p class="text-4xl mb-3xs">{{lang.index.visit|default('Visita')}}</p>
                    <p class="text-4xl my-2xs">
                        <a href="{{lang.urlPrefix}}/portfolio.html" class="link-highlight">{{lang.index.myportfolio|default('il mio portfolio')}}</a>,
                    </p>
                    <p class="text-4xl">{{lang.index.featured|default('ecco alcuni dei miei progetti preferiti')}}:</p>
                </div>
                <div class="grid gap-sm mt-xl laptop:grid-cols-3">
                    {%for item_key in index.portfolio_featured%}
                        {{include("./components/portfolio_item.html")}}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{%endblock%}
