<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{page.title ? page.title ~ " - "}} Giuseppe Spataro</title>
        <link href="/assets/css/ui.css" rel="stylesheet" />
        <script src="/assets/js/ui.js" defer></script>
        <script src="https://kit.fontawesome.com/c6d3a53c06.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-thunder-darkest text-ablescent m-0 p-0 min-h-screen laptop:!overflow-auto">
        <div class="flex flex-col min-h-screen">
            {%if not page.exclude_header%}
                {{include("./components/header.html")}}
            {%endif%}
            {%block content%}
                <div class="flex-1">
                </div>
            {%endblock%}
            {%if not page.exclude_footer%}
                {{include("./components/footer.html")}}
            {%endif%}
        </div>
    </body>
</html>
